@using DBConnectionTest.DataClasses
@model DBConnectionTest.ViewModels.ExpenseModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Expense</h2>
<hr />
<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDateID)
        </dt>

        <dd>
            @LoadData.GetBusinessDate(Model.ExpenseDateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorID)
        </dt>

        <dd>
            @LoadData.GetVendorName(Model.VendorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenderTypeId)
        </dt>

        <dd>
            @LoadData.GetTenderType(Model.TenderTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseCleared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseCleared)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ServiceMonthId)
        </dt>

        <dd>
            @LoadData.GetCalendarMonth(Model.ServiceMonthId)  @LoadData.GetCalendarYear(Model.ServiceYearId)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-action no-color col-sm-offset-2">
        <p><input type="submit" value="Delete" class="btn btn-danger col-sm-2" /> <input type="button" value="Cancel" class="btn btn-primary col-sm-2" /></p>
    </div>
    }
</div>
<br />
