@model DBConnectionTest.Models.Tenant

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addl_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addl_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingAdditional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAdditional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenantID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
