@using DBConnectionTest.DataClasses
@model IEnumerable<DBConnectionTest.ViewModels.ExpenseDetailModel>

@foreach (var item in Model)
{
<form method="post" action="/expenses/update">
    @Html.AntiForgeryToken()
    <hr />
    @*<p>@item.Amount -- @item.ExpenseDetailsId -- Expense responsibility @item.ExpenseTypeId</p>*@
    <div class="form-group">
        <div class="col-md-2">Line Items</div>
        <div class="col-md-3">
            @Html.LabelFor(i => item.ExpenseTypeId) @Html.DropDownListFor(i => item.ExpenseTypeId, LoadData.GetExpenseTypeSelect(item.ExpenseTypeId), new { @class = "form-control" })
            @Html.ValidationMessageFor(i => item.ExpenseTypeId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(i => item.Amount) @Html.EditorFor(i => item.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(i => item.Amount, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(i => item.ExpenseResponsibilityId) @Html.DropDownListFor(i => item.ExpenseResponsibilityId, LoadData.GetExpenseResponsibilitySelect(item.ExpenseResponsibilityId), new { @class = "form-control" })
            @Html.ValidationMessageFor(i => item.Amount, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2"><br /><input type="submit" value="Save" class="btn btn-success  align-bottom" /></div>
    </div>
</form>
    }
