@model DBConnectionTest.ViewModels.VendorModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="text-left">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" }) @Html.ActionLink("Add New Vendor", "create", "vendors", null, new { @class = "btn btn-primary align-right" })
</p>
<h2>@Model.VendorName  @Html.ActionLink("edit", "edit", new { id = @Model.VendorID }, new { @class = "glyphicon-sm glyphicon glyphicon-pencil text-primary" }) </h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

